* {
  align-items: center;
  
}
h1 {
  text-align: center;
  color: black;
  text-transform: capitalize;
}
img {
  width: auto;
  height: 500px;
}
h4 {
  text-decoration: underline;
}
p {
  text-align: left;
  color: grey;
}
#steps {
  text-align: left;
  color: gray;
}

#headin {
  color: black;
}
